# -------------------------------------
# Download and install Python from main python website:
#    https://www.python.org/downloads/
# 
# ln -s /Library/Frameworks/Python.framework/Versions/3.12/bin/python3 python
# ln -s /Library/Frameworks/Python.framework/Versions/3.12/bin/pip3 pip
# 
# alternatively download and install miniconda
#      https://docs.conda.io/en/latest/miniconda.html
# make sure that these directories added to PATH:
#      $HOME/miniconda3/condabin
#      $HOME/miniconda3/bin
# then run command to install modules listed below:
#      pip install -r python_requirements.txt
# Note: pip caches downloads (in directory $(pip cache dir)
# Note: pip install is better and faster than conda install
# Note: I also tried to use mamba: https://github.com/mamba-org/mamba
# but found that it is a bit more difficult and takes more space.
# ----------------- modules for a data scientist
notebook             # jupyter Notebook
jupyterlab           # jupyter Lab
ipywidgets           # browser widgets
numpy
pandas
scikit-learn
matplotlib           # graphs, histograms, etc.
polars[all]
# ----------------- chatbots, etc
ipython
openai
anthropic
python-dotenv
# google-search-results
flask
arrow
pyarrow
python-fasthtml
pymilvus
# streamlit
# chainlit
# ----------------- misc
icalendar     # make calendar invites
pytube        # download youtube videos
python-docx   # create MS Word from Python
xlsxwriter    # create MS Excel from Python
python-pptx   # create MS PowerPoint from Python
# xpdf_python   # create PDF from Python (old, requires old gitpython, conflict with streamlit)
pyqrcode      # create QR Code
pypng         # create PNG file
# -------------------------------------
# rarely needed
# ----------------- 
# statsmodels
# xgboost              # Ensemble regression / classification
# nltk                 # Natural Language Took Kit
# hdbscan              # clustering
# ----------------- LLM training
# torch 
# torchvision 
# torchaudio
# torchtext
# spacy
# bitsandbytes
# transformers
# peft
# datasets
# accelerate
# langchain
# langchain_community
# langchain-openai
# langchain-anthropic
# langgraph
# watchdog
# -------------------------------------
# termcolor
# pivottablejs
# pyspark
# -------------------------------------
# ipython-sql
# sql
# mysql-connector-python
# pyyaml
# -------------------------------------
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib
# -------------------------------------
# h2o
# imblearn
# speech_recognition
# -------------------------------------
